# DATABASE_URL=postgresql://user:password@localhost:5432/database
# PORT=3000
# NODE_ENV=development

DATABASE_URL=mysql://root:LyPuaANZrAjZdeFpRHlFVpbzTMLSmkZJ@acela.proxy.rlwy.net:16002/railway
PORT=3000
NODE_ENV=development